.round-div {
  background-color: white;
  border-radius: 15px;
  height: 35px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
}

.num-players {
  background-color: #229954;
  color: white;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.button-blue-team {
  width: 75px;
  background-color: #07709c !important;
  border-color: #07709c !important;
}

.button-red-team {
  width: 75px;
  background-color: #d40d26 !important;
  border-color: #d40d26 !important;
}

.div-team-blue {
  width: 22px;
  height: 22px;
  border-radius: 22px;
  background-color: #07709c;
}

.div-team-red {
  width: 22px;
  height: 22px;
  border-radius: 22px;
  background-color: #d40d26;
}

.is-mg-div {
  background-color: #403d3a;
  color: white;
  font-size: 15px;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
